<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% include "header.html" %}
</head>

<body>
    <div id="content">

        <p id="top"> Fresh Vegetables for You.</p>

        <div id="logo">
            <h1><a href="{{RELATIVE_ROOT}}/index.html">{{ META.SITE_NAME }}</a></h1>
        </div>        

        <ul id="menu">
            <li class="current"><a href="{{RELATIVE_ROOT}}/index.html">Home</a></li>
            <li><a href="{{RELATIVE_ROOT}}/news/index.html">News</a></li>
            <li><a href="{{RELATIVE_ROOT}}{% url products_product_category %}">Products</a></li>
            <li><a href="{{RELATIVE_ROOT}}/contact.html">Contact</a></li>
        </ul>

{% block page %}
{% endblock %}

        <div id="footer">
            <p>&copy; Copyright 2009 Distinctive &minus; Design: Luka Cvrk, <a href="http://www.solucija.com" title="Free CSS Templates">Solucija</a></p>
        </div>
    
    </div>
</body>
</html>
