{% extends "base.html" %}

{% block page %}
		<div class="line"></div>

		<div id="pitch-contact">
			<h1>より豊かな消費者の生活の提供をお手伝いいたします。</h1>
            
            <p style="margin:50px;width:60%;">
            消費者の生活が、モノの充足からコトの充実へと大きく転換を見せている今日、われわれ マーケティングに携わる者にとっても、新しい対応が迫られています。
            </p>
		</div>	

		<div class="third">
			<h3 style="width:150px">企業情報</h3>
              <p/>
              <div>
                <ul>
                    <li>株式会社 拓図コミュニケーション</li>
                    <li> 創立 1982年1月5日  </li>
                    <li> 資本金 12,000,000円    </li>
                    <li> みずほ銀行　青山支店   </li>
                    <li> さわやか信用金庫　本店 </li>
                </ul>
              </div>
		</div>
		<div class="third">
			<h3 style="width:150px">マネージメント</h3>
              <p/>
              <div>
                <ul>
                    <li> 代表取締役 丸山康人 </li>
                </ul>
              </div>
		</div>

		<div class="third last">
			<h3 style="width:150px">所在地</h3>
              <p/>
              <div>
                <ul>
                    <li> 〒151-0051　</li>
                    <li> 東京都渋谷区千駄ケ谷３－５２－１</li>
                    <li> クロスサイドビル７Ｆ</li>
                    <li>電話 03(3479)8461 </li>
                    <li>FAX 03(3479)8463 </li>
                </ul>
              </div>
		</div>
		<div class="line"></div>


{% endblock %}
