{% extends "base.html" %}

{% block page %}
		<div class="line"></div>
		<div id="pitch">
			<h1>朝、採れたての野菜を “夕方” までに発送しています。</h1>
			<h2>
野菜は生きています。
収穫されたばかりの野菜を、できるだけ新鮮な状態でお届けするため、
収穫の方法から選び方まで様々な工夫を施していています。

</h2>
		</div>	
		<div class="third">
			<h3 style="width:100px">新鮮</h3>
            <p>
青果物が魚や肉と大きく異なるのは収穫後も細胞が生きている点です。生きているので呼吸もすれば水分も蒸発します。

呼吸とは、空気中の酸素を取り入れ内部の糖類や有機酸を燃焼してエネルギーを作り出し、二酸化炭素を放出する生命活動です。収穫後は、時間が経つほど蓄積していた養分を消耗し、その分甘みや酸味は低下します。栄養的にも減少します。そして、根からの水分補給がないのに水分が蒸発するのでしおれてしまいます。
</p>
		</div>
		<div class="third">
			<h3 style="width:100px">安全</h3>
<p>
赤ちゃんや子供へは、信用できる食材や野菜を与えたいですよね。そういった方に支持されているのが会員制の宅配サービスです。
あらかじめオーダーをとって、届けてもらえるサービスです。ふつうのショップとはちがって、誰に販売しているかがはっきり見える会員専用なので、
安全性の管理もきっちりしていて、安心な野菜が買えます。

Vegeneの宅配は、日ごろの買物が大変な高齢の方とか妊娠している方に評判です。Vegeneの宅配をつかえば、店から重量がある米などを運んでくる苦労から解放されます。
</p>
		</div>
		<div class="third last">
			<h3 style="width:100px">美味しい</h3>
<p>
流通市場では、野菜の規格（サイズや形）や鮮度で価値が決まります。
曲がったり野菜のお尻が割れたり傷があったりするとそれだけで商品から除外され、 虫食いの痕など論外で、 野菜が本来持っている味香り・旨み・栄養価などは評価の対象外です。
美味しい野菜はミネラル・糖質・ビタミンが豊富に含まれており、 それら栄養価に富んだ野菜達は人間の自己治癒能力を高め、内から健康にしてくれます。
農業者が一生懸命、美味しい野菜を作ってもそれを食べたい人達には届かない。Vegeneは美味しい野菜を産地から直接お届けします。
</p>
		</div>
		<div class="line"></div>
		<div class="left">
			<h4>夏野菜を食べよう！</h4>
			<p><em>
夏はミネラルを補う季節です。
この季節に採れるスイカやメロン、キュウリなどの瓜類、トマト等の夏野菜にはカリウムがたっぷりです。
カリウムは、汗によって体内から失われる、マグネシウム等のミネラルを補充できます。
</em>
        </p>
		</div>

		<div class="right">

            {% if LATEST_NEWS %}
            {% for item in LATEST_NEWS %}
               {% if forloop.counter < 4 %}
                <h3>{{ item.dt_publish }}</h3>
                <p>{{ item.text|truncatewords:1  }}
                (<a href="{% url contents_news_item id=item.id %}">全文</a>)
                </p>
               {% endif %}
            {% endfor %}
            {% endif %}

		</div>

{% endblock %}
